
<div class="component-width" *ngIf="loaded; else loading">
  <div class="home-box">
    <div class="home-box-text">
      <div class="home-block-text">
        <div class="h1-abweichung"> {{ 'home.title' | translate | async }}</div>
        <div class="h2-abweichung"> {{ 'home.subtitle' | translate | async }}</div>
        <button (click)="navigateToContact()" class="generic-button">Kontaktieren Sie mich</button>
      </div>
    </div>
    <div class="home-box-image">
      <img src="assets/images/app_auf_geräten_transparent-red70.webp" alt="Logo">
    </div>
  </div>
</div>
<ng-template #loading>
  <p>Lädt...</p>
</ng-template>
