<!--Inhalt der Komponente wird erst gezeigt, wenn translationLoaded =true-->
<div class="component-width" *ngIf="loaded; else loading">
  <div class="home-intro-box">
    <div class="home-intro-box-text">
      <div class="home-block-text">
    <div class="h1-abweichung"> {{ 'home.title' | translate | async }}</div>
    <div class="h2-abweichung"> {{ 'home.subtitle' | translate | async }}</div>
      <button (click)="navigateToContact()" class="generic-button">Kontaktieren Sie mich</button>
    </div>
    </div>

    <div class="home-intro-box-image">
      <img src="assets/images/app_auf_geräten_transparent.webp" alt="Logo">
    </div>
  </div>
</div>
<ng-template #loading>
  <p>Lädt...</p>
</ng-template>
