<div  *ngIf="loaded; else loading">

<div class="intro-component">
<div class="intro-block box-links">
  <div class="h1-abweichung">{{ 'about.title' | translate | async }}</div>
  <div class="block-text">
  <p class="p-bright-background">{{ 'about.subtitle' | translate | async }}</p>
  <p class="p-bright-background">{{ 'about.description' | translate | async }}</p>
  <p class="p-bright-background">{{ 'about.description_two' | translate | async }}</p>
  </div>
</div>
<div class="intro-block box-rechts">
  <img src="assets/images/ich_rund.jpg" alt="Logo">
</div>
</div>
</div>

  <ng-template #loading>
    <p>Lädt...</p>
  </ng-template>
