<div class="circle-container">
  <div class="logo-container left">
    <h1 class="ueberschrift-dunkel">Frontend</h1>
    <p class="text-dunkel">HTML/CSS</p>
    <p class="text-dunkel">JavaScript</p>
    <p class="text-dunkel">Angular + TypeScript</p>
    <p class="text-dunkel">React + JSX</p>
    <p class="text-dunkel">Playwright E2E-Testing</p>
    <p class="text-dunkel">Barrierefreie Programmierung</p>


    <p></p>
    <p></p>
<!--    <img src="../../assets/images/logo_gruen.png" alt="Logo">
    <img src="../../assets/images/logo_gruen.png" alt="Logo">
    <img src="../../assets/images/logo_gruen.png" alt="Logo">
    <img src="../../assets/images/logo_gruen.png" alt="Logo">
    <img src="../../assets/images/logo_gruen.png" alt="Logo">-->
  </div>
  <div class="circle">
    <div class="half-circle half-circle-left" data-content="Full"></div>
    <div class="half-circle half-circle-right" data-content="stack"></div>
  </div>
  <div class="logo-container right">
    <h1 class="ueberschrift-dunkel">Backend</h1>
    <p class="text-dunkel">Java</p>
    <p class="text-dunkel">Spring Boot</p>
    <p class="text-dunkel">Node.js</p>
    <p class="text-dunkel">Liquibase</p>
    <p class="text-dunkel">MySQL</p>
    <p class="text-dunkel">Docker</p>
    <p></p>
    <!-- Logos Rechts -->
  </div>
</div>
