<div class="impressum-component"  *ngIf="loaded; else loading">
  <div class="component-width">
    <h1>{{'data-protection.title' | translate | async}}</h1>
    <div class="impressum-adresse">
      <h2>{{ 'data-protection.sections.1.heading' | translate | async }}</h2>
      <p><strong>{{ 'data-protection.sections.1.content.general-notice' | translate | async }}</strong></p>

      <h3>{{ 'data-protection.sections.1.content.data-collection.heading' | translate | async }}</h3>
      <ul>
        <li><strong>{{ 'data-protection.sections.1.content.data-collection.items.responsible' | translate | async }}</strong></li>

        <li><strong>{{ 'data-protection.sections.1.content.data-collection.items.collection-methods.heading' | translate | async }}</strong>
          <ul>
            <li>{{ 'data-protection.sections.1.content.data-collection.items.collection-methods.direct' | translate | async }}</li>
            <li>{{ 'data-protection.sections.1.content.data-collection.items.collection-methods.automatic' | translate | async }}</li>
          </ul>
        </li>

        <li><strong>{{ 'data-protection.sections.1.content.data-collection.items.purpose' | translate | async }}</strong></li>

        <li><strong>{{ 'data-protection.sections.1.content.data-collection.items.rights' | translate | async }}</strong></li>
      </ul>

      <p><strong>{{ 'data-protection.sections.1.content.questions' | translate | async }}</strong></p>
      <p><strong>{{ 'data-protection.sections.1.content.analysis' | translate | async }}</strong></p>

      <!--2.-->

      <h2>{{ 'data-protection.sections.2.heading' | translate | async }}</h2>
      <p><strong>{{ 'data-protection.sections.2.content.external-hosting.description' | translate | async }}</strong></p>
      <p>{{ 'data-protection.sections.2.content.external-hosting.data-security' | translate | async }}</p>
      <p><strong>{{ 'data-protection.sections.2.content.external-hosting.current-host' | translate | async }}</strong></p>

      <!--3.-->

      <h2>{{ 'data-protection.sections.3.heading' | translate | async }}</h2>

      <p><strong>{{ 'data-protection.sections.3.content.data-protection-heading' | translate | async }}</strong></p>
      <p>{{ 'data-protection.sections.3.content.data-protection-description' | translate | async }}</p>

      <p><strong>{{ 'data-protection.sections.3.content.internet-security-warning' | translate | async }}</strong></p>

      <h3>{{ 'data-protection.sections.3.content.responsible-office-heading' | translate | async }}</h3>
      <p><strong>{{ 'data-protection.sections.3.content.responsible-office-description' | translate | async }}</strong></p>
      <p>{{ 'data-protection.sections.3.content.responsible-person' | translate | async }}</p>
      <p>{{ 'data-protection.sections.3.content.responsible-definition' | translate | async }}</p>

      <h3>{{ 'data-protection.sections.3.content.data-retention-heading' | translate | async }}</h3>
      <p>{{ 'data-protection.sections.3.content.data-retention-description' | translate | async }}</p>

      <h3>{{ 'data-protection.sections.3.content.legal-basis-heading' | translate | async }}</h3>
      <ul>
        <li>{{ 'data-protection.sections.3.content.legal-basis-items.consent' | translate | async }}</li>
        <li>{{ 'data-protection.sections.3.content.legal-basis-items.contract' | translate | async }}</li>
        <li>{{ 'data-protection.sections.3.content.legal-basis-items.legal-obligation' | translate | async }}</li>
        <li>{{ 'data-protection.sections.3.content.legal-basis-items.legitimate-interest' | translate | async }}</li>
      </ul>

      <h3>{{ 'data-protection.sections.3.content.data-transfer-heading' | translate | async }}</h3>
      <p>{{ 'data-protection.sections.3.content.data-transfer-description' | translate | async }}</p>

      <h3>{{ 'data-protection.sections.3.content.data-recipients-heading' | translate | async }}</h3>
      <p>{{ 'data-protection.sections.3.content.data-recipients-description' | translate | async }}</p>

      <h3>{{ 'data-protection.sections.3.content.rights-heading' | translate | async }}</h3>
      <p>{{ 'data-protection.sections.3.content.rights-items.withdrawal' | translate | async }}</p>
      <p>{{ 'data-protection.sections.3.content.rights-items.objection' | translate | async }}</p>
      <p>{{ 'data-protection.sections.3.content.rights-items.complaint' | translate | async }}</p>
      <p>{{ 'data-protection.sections.3.content.rights-items.additional-rights' | translate | async }}</p>

      <h3>{{ 'data-protection.sections.3.content.encryption-heading' | translate | async }}</h3>
      <p>{{ 'data-protection.sections.3.content.encryption-description' | translate | async }}</p>
      <p>{{ 'data-protection.sections.3.content.encryption-benefit' | translate | async }}</p>

<!--4.-->
      <h2>{{ 'data-protection.sections.4.heading' | translate | async }}</h2>

      <h3>{{ 'data-protection.sections.4.content.cookies-heading' | translate | async }}</h3>
      <p>{{ 'data-protection.sections.4.content.cookies-description' | translate | async }}</p>
      <ul>
        <li><strong>{{ 'data-protection.sections.4.content.cookies-types.session-cookies' | translate | async }}</strong></li>
        <li><strong>{{ 'data-protection.sections.4.content.cookies-types.permanent-cookies' | translate | async }}</strong></li>
      </ul>
      <p>{{ 'data-protection.sections.4.content.cookies-sources' | translate | async }}</p>
  <!--    <p>{{ 'data-protection.sections.4.content.cookies-functions-heading' | translate | async }}</p>-->
      <ul>
        <li><strong>{{ 'data-protection.sections.4.content.cookies-functions.technical-cookies' | translate | async }}</strong></li>
        <li><strong>{{ 'data-protection.sections.4.content.cookies-functions.analytics-cookies' | translate | async }}</strong></li>
      </ul>
      <p>{{ 'data-protection.sections.4.content.cookies-storage-basis' | translate | async }}</p>
      <p>{{ 'data-protection.sections.4.content.cookies-browser-settings' | translate | async }}</p>

      <h3>{{ 'data-protection.sections.4.content.logfiles-heading' | translate | async }}</h3>
      <p>{{ 'data-protection.sections.4.content.logfiles-description' | translate | async }}</p>
      <ul>
        <li>{{ 'data-protection.sections.4.content.logfiles-items.browser-type' | translate | async }}</li>
        <li>{{ 'data-protection.sections.4.content.logfiles-items.operating-system' | translate | async }}</li>
        <li>{{ 'data-protection.sections.4.content.logfiles-items.referrer-url' | translate | async }}</li>
        <li>{{ 'data-protection.sections.4.content.logfiles-items.hostname' | translate | async }}</li>
        <li>{{ 'data-protection.sections.4.content.logfiles-items.request-time' | translate | async }}</li>
        <li>{{ 'data-protection.sections.4.content.logfiles-items.ip-address' | translate | async }}</li>
      </ul>
      <p>{{ 'data-protection.sections.4.content.logfiles-processing-basis' | translate | async }}</p>

 <!--     <h3>{{ 'data-protection.sections.4.content.contact-form-heading' | translate | async }}</h3>
      <p>{{ 'data-protection.sections.4.content.contact-form-description' | translate | async }}</p>-->
<!--      <p>{{ 'data-protection.sections.4.content.contact-form-processing-basis' | translate | async }}</p>
      <p>{{ 'data-protection.sections.4.content.contact-form-retention' | translate | async }}</p>

      <h3>{{ 'data-protection.sections.4.content.contact-requests-heading' | translate | async }}</h3>
      <p>{{ 'data-protection.sections.4.content.contact-requests-description' | translate | async }}</p>
      <p>{{ 'data-protection.sections.4.content.contact-requests-processing-basis' | translate | async }}</p>
      <p>{{ 'data-protection.sections.4.content.contact-requests-retention' | translate | async }}</p>-->


<!--5.-->


      <h2>{{ 'data-protection.sections.5.heading' | translate | async }}</h2>

      <h3>{{ 'data-protection.sections.5.content.google-analytics-heading' | translate | async }}</h3>
      <p>{{ 'data-protection.sections.5.content.google-analytics-description' | translate | async }}</p>
      <p>{{ 'data-protection.sections.5.content.google-analytics-cookies' | translate | async }}</p>
      <p>{{ 'data-protection.sections.5.content.google-analytics-legal-basis' | translate | async }}</p>

      <h3>{{ 'data-protection.sections.5.content.ip-anonymization-heading' | translate | async }}</h3>
      <p>{{ 'data-protection.sections.5.content.ip-anonymization-description' | translate | async }}</p>

      <h3>{{ 'data-protection.sections.5.content.browser-plugin-heading' | translate | async }}</h3>
      <p>{{ 'data-protection.sections.5.content.browser-plugin-description' | translate | async }}
        <a href="{{ 'data-protection.sections.5.content.browser-plugin-link' | translate | async }}">Browser-Plugin</a></p>

      <h3>{{ 'data-protection.sections.5.content.data-objection-heading' | translate | async }}</h3>
      <p>{{ 'data-protection.sections.5.content.data-objection-description' | translate | async }}
        <a href="{{ 'data-protection.sections.5.content.data-objection-link' | translate | async }}">Google Analytics deaktivieren</a></p>

      <h3>{{ 'data-protection.sections.5.content.google-privacy-policy-heading' | translate | async }}</h3>
      <p>{{ 'data-protection.sections.5.content.google-privacy-policy-description' | translate | async }}
        <a href="{{ 'data-protection.sections.5.content.google-privacy-policy-link' | translate | async }}">Datenschutzerklärung von Google</a></p>

    </div>
    </div>
</div>

<ng-template #loading>
  <p>Lädt...</p>
</ng-template>
