<div class="component-width" *ngIf="loaded; else loading">
  <div class="portfolio-top">
  <div class="h1-abweichung">Portfolio</div>
  <div class="h2-abweichung-dunkel">Aktuelle Projekte</div>
  <div class="portfolio-text-box">
    <p class="portfolio-p" >In eigenen Software-Projekten gehe ich stets Ideen nach, deren Umsetzung mir selbst im Alltag nutzen können. Dabei arbeite ich mittels Ticketsystem kontinuierlich an Erweiterungen der App-Funktionen.</p>
  </div>
  </div>
  <div class="portfolio-component">
  <p-card *ngFor="let card of cards; let i = index"  class="custom-card">
    <img src="{{card.image}}" alt="{{card.title}}" class="card-image" (click)="onCardImageClick(i)">
    <div class="projekt-beschriftung">
    <div style="color:black; padding:8px;">{{card.title}}</div>
    <div style="color:#1cbc9b; padding:8px;">{{card.header}}</div>
    </div>
  </p-card>
  </div>
</div>

  <ng-template #loading>
    <p>Lädt...</p>
  </ng-template>
