<div class="component-width" *ngIf="loaded; else loading">
  <h1>Portfolio</h1>
  <div class="portfolio-header">
    <h2>{{ 'portfolio.title' | translate | async }}</h2>
    <hr class="header-line" />
  </div>
  <div class="portfolio-component">
  <p-card *ngFor="let card of cards"  class="custom-card">
    <img src="{{card.image}}" alt="{{card.title}}" class="card-image">
    <div style="color:black; padding:5px;">{{card.title}}</div>
    <div style="color:#1cbc9b; padding-left:5px;">{{card.header}}</div>
  </p-card>
  </div>
</div>

  <ng-template #loading>
    <p>Lädt...</p>
  </ng-template>
