<div class="intro-component">
<div class="square-block-intro box-links">
<p style="font-size:90px; font-weight:bold;margin:0; color:#333333">Home</p>
  <p style="font-size: 30px; color:#757575;margin-bottom:20px;">{{ 'home.title' | translate | async }}</p>
  <p style="font-size: 20px;color:#898989">{{ 'home.description' | translate | async }}</p>
 <!-- <button   (click)="navigateToContact()" class="button-tertiary">Kontaktieren Sie mich</button>-->
</div>
<div class="square-block-intro box-rechts">
  <img src="assets/images/logo1_pixel.png" alt="Logo">
</div>
</div>
