<div *ngIf="loaded; else loading">
  <div>
    <h1>{{ 'contact.title' | translate | async }}</h1>
  </div>

  <div class="contact-component">
    <!-- Umhüllung für die ersten beiden Inputfelder -->
    <div class="container">

        <div class="box-links">
          <div>
            <h3>Telefon</h3>
            <p>01573 0755 475</p>
          </div>
          <h3>E-Mail</h3>
          <p>alexdurach&#64;hotmail.de</p>
        </div>

      <div class="box-rechts">
        <h2 style="color: white;"> Kontaktieren Sie mich</h2>
        <h4>Gerne heute noch</h4>
        <div>
          <div class="p-col">
            <p-inputGroup>
              <label for="firstName">{{'contact.first_name' | translate | async }}</label>
              <input id="firstName" type="text" pInputText class="custom-input" />
            </p-inputGroup>
          </div>
          <div class="p-col">
            <p-inputGroup>
              <label for="lastName">{{'contact.last_name' | translate | async }}</label>
              <input id="lastName" type="text" pInputText class="custom-input" />
            </p-inputGroup>
          </div>

          <!-- Einzelne Inputfelder -->
          <div class="p-col">
            <p-inputGroup>
              <label for="email">{{'contact.email' | translate | async }}</label>
              <input id="email" type="text" pInputText class="custom-input"/>
            </p-inputGroup>
          </div>
          <div class="p-col">
            <p-inputGroup>
              <label for="phone">{{'contact.phone' | translate | async }}</label>
              <input id="phone" type="text" pInputText class="custom-input"/>
            </p-inputGroup>
          </div>

          <div class="input-single">
            <p-inputGroup>
              <label for="message">{{'contact.message' | translate | async }}</label>
              <input id="message" type="text" pInputText class="custom-textarea"/>
            </p-inputGroup>
          </div>


      </div>
      </div>

  </div>
</div>
</div>
<ng-template #loading>
  <p>Lädt...</p>
</ng-template>
