<div class="techstack-services">
  <div class="h2-abweichung">Mein Techstack</div>
  <p>Jede dieser Komponenten versammelt verschiedene Technologien, deren Gesamtheit den sogenannten Techstack darstellt. Mein Techstack zur Umsetzung von Projekten umfasst die folgenden Technologien:</p>
  <div class="techstack-graph">
    <div class="techstack-container ">
      <button class="button-tech wd">WEBDESIGN</button>
      <p class="tech">Figma   |   Gimp</p>
    </div>

  <div class="techstack-container">
    <button class="button-tech fe">FRONTEND</button>
    <p class="tech"> HTML/CSS   |   JavaScript   |   Angular + TypeScript   |   React + JMX   |   Playwright E2E-Testing   |   Barrierefreiheit</p>
  </div>

  <div class="techstack-container">
    <button class="button-tech be">BACKEND</button>
    <p class="tech">Java   |   Spring Boot   |   Node.js   |   Rest APIs   |   Liquibase   |   MySQL   |   Docker</p>
  </div>
</div>
</div>
