<div class="techstack-services">
  <div class="h2-abweichung-dunkel">Mein Techstack</div>
  <p>Zur Entwicklung in beiden Bereichen werden jeweils verschiedene Technologien eingesetzt, deren Gesamtheit den sogenannten Techstack darstellt. </p>
    <p>Mein Techstack zur Umsetzung von Projekten umfasst die folgenden Technologien:</p>
  <div class="techstack-graph">

    <div class="techstack-container">
      <button class="button-tech fe">FRONTEND</button>
      <p class="tech-fe">HTML/SCSS&nbsp;&nbsp;|&nbsp;&nbsp;JavaScript&nbsp;&nbsp;|&nbsp;&nbsp;Angular + TypeScript&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Playwright&nbsp;&nbsp;|&nbsp;&nbsp;Figma&nbsp;&nbsp;|&nbsp;&nbsp;Barrierefreiheit</p>
    </div>

    <div class="techstack-container">
      <button class="button-tech be">BACKEND</button>
      <p class="tech-be">Java&nbsp;&nbsp;|&nbsp;&nbsp;Spring Boot&nbsp;&nbsp;|&nbsp;&nbsp;Node.js&nbsp;&nbsp;|&nbsp;&nbsp;Rest APIs&nbsp;&nbsp;|&nbsp;&nbsp;OpenAPI&nbsp;&nbsp;|&nbsp;&nbsp;MySQL&nbsp;&nbsp;|&nbsp;&nbsp;Liquibase&nbsp;&nbsp;|&nbsp;&nbsp;AWS&nbsp;&nbsp;|&nbsp;&nbsp;Docker</p>
    </div>
  </div>
</div>
