<div class="techstack-services">
<p>Jeder dieser Komponenten versammelt verschiede Technologien. Die Gesamtheit der in einem Projekte verwendeten Technologien wird als Techstack bezeichnet. Folgende Technologien beherrsche ich je Komponente und bilden somit meinen persönlichen Techstack:</p>
<div class="techstack-graph">
  <div class="techstack-container">
    <button class="button-tech">WEBDESIGN</button>
    <div class="tech">Figma   |   Gimp</div>
  </div>

  <div class="techstack-container">
    <button class="button-tech">FRONTEND</button>
    <div class="tech"> HTML/CSS   |   JavaScript   |   Angular + TypeScript   |   Playwright E2E-Testing</div>
  </div>

  <div class="techstack-container">
    <button class="button-tech">BACKEND</button>
    <div class="tech">Java   |   Spring Boot   |   Node   |   Liquibase   |   MySQL   |   Docker</div>
  </div>
</div>
</div>
