<div class="code-prinzipen-component">
  <h1 style="margin-top:100px;" >Mein Angebot</h1>
  <div class="content-container">
    <div class="content-block">
      <img src="assets/images/logo1_pixel.png" alt="Logo">
      <p> Mobile-First Design</p>
      <p>In einer Ära, in der über 60% des Internetverkehrs über mobile Geräte erfolgt, ist es entscheidend, dass Ihr Online-Auftritt nicht nur kompatibel, sondern auch optimiert für Smartphones und Tablets ist. Mit unserem "Mobile-First Design"-Ansatz stellen wir sicher, dass Ihre Website auf kleinen Bildschirmen nicht nur gut aussieht, sondern auch eine herausragende Benutzererfahrung bietet.</p>
    </div>

    <div class="content-block">
      <img src="assets/images/logo1_pixel.png" alt="Logo">
      <p> Voll-responsiv</p>
      <p>Mit unserem umfassenden Ansatz zum responsiven Webdesign stellen wir sicher, dass Ihre Website nicht nur auf kleinen Bildschirmen großartig aussieht, sondern sich auch an alle Bildschirmgrößen und -auflösungen anpasst. Wir garantieren, dass Ihre Inhalte immer klar und zugänglich sind, egal ob Ihre Kunden auf einem Handy, einem Tablet oder einem Desktop-Computer surfen.</p>
    </div>

    <div class="content-block">
      <img src="assets/images/logo1_pixel.png" alt="Logo">
      <p>Barrierefrei</p>
      <p> Wir passen Design und Funktionen an, um internationalen Standards für Barrierefreiheit zu entsprechen, und sorgen so für eine benutzerfreundliche Erfahrung für Menschen mit verschiedenen Einschränkungen. Mit leicht lesbaren Schriftarten, angemessenen Kontrasten und navigationsfreundlichem Aufbau wird Ihre Website inklusiv und für jeden zugänglich. </p>
    </div>
  </div>
</div>
