
<!--<div class="services-background">-->
<div  *ngIf="loaded; else loading">
  <!--  <h1>{{ 'services.title' | translate | async }}</h1>-->

  <div class="service-graph">
    <div class="upper-buttons">
      <div class="button-container">
        <button class="button-tertiary" (click)="toggleList1()">WEBDESIGN</button>
        <ul [hidden]="!listOpen1" class="ulist-services">
          <li>Hier nehme ich die visuelle Gestaltung und das User Experience (UX) Design der Webseite vor.</li>
          <br>
          <li>Dabei konzentriere ich mich darauf, wie die Webseite aussieht und wie Nutzer mit ihr interagieren.</li>
          <br>
          <li>Zur Verwendung kommen Design-Prinzipien, zur Erstellung und Auswahl von Layout, Farbschemata, Typografie und grafischen Elementen.</li>
        </ul>
      </div>

      <div class="button-container">
        <button class="button-tertiary" (click)="toggleList2()">BACKEND</button>
        <ul [hidden]="!listOpen2" class="ulist-services">
          <li> Bezieht sich auf den Server, die Anwendung und die Datenbank, die hinter den Kulissen arbeiten, um die Funktionalität der Webseite zu ermöglichen.</li>
          <br>
          <li>Für die Backend-Entwicklung verwende ich als Server-seitige Programmiersprache Java und die Datenbanktechnologie MySQL</li>
          <br>
          <li>Das Backend ist verantwortlich für Dinge wie Benutzerverwaltung, Datenspeicherung, Sicherheit und Leistung.</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="lower-button">
    <div class="button-container">
      <button class="button-tertiary" (click)="toggleList3()">FRONTEND</button>
      <ul [hidden]="!listOpen3" class="ulist-services">
        <li>Umfasst die Umsetzung des Webdesigns in Code, der im Webbrowser des Benutzers ausgeführt wird.</li>
        <br>
        <li>Ein Frontend-Entwickler verwendet klassischerweise Technologien wie HTML, CSS und JavaScript/Typescript, um das Design in eine interaktive, funktionierende Webseite zu verwandeln</li>
        <br>
        <li>Sie sorgen dafür, dass die Webseite auf verschiedenen Geräten und Browsern korrekt dargestellt wird und dass die Benutzerinteraktionen wie vorgesehen funktionieren.</li>
      </ul>
    </div>
  </div>

</div>
<!--</div>-->


<ng-template #loading>
  <p>Lädt...</p>
</ng-template>
