<div class="kurzvorstellung-component">
  <div class="tab-menu">
    <p-tabMenu [model]="items">
      <ng-template pTemplate="item" let-item let-i="index">
        <a (click)="onTabChange(i)" class="p-menuitem-link flex justify-content-between align-items-center p-3">
          <div>
            <span [class]="item.icon"></span>
            <span class="ml-5">{{ item.label }}</span>
          </div>
        </a>
      </ng-template>
    </p-tabMenu>
  </div>

  <ng-container *ngIf="getActiveTabContent() as activeContent">
    <div class="tab-content">
      <div *ngIf="activeContent.left === 'image'">
        <img [src]="activeContent?.imageUrl" alt="Bild">
      </div>
      <div *ngIf="activeContent.right === 'title'">
        <p>{{ activeContent?.title }}</p>
        <p>{{ activeContent?.text }}</p>
      </div>
    </div>

  </ng-container>

</div>
