<!--TODO: Kreisfarben: Links Geld-Rot-Gradient, Rechts Schwarz, Ring drumherum Grün,blau-->

<div class="circle-container">
  <p>Durch meiner beruflichen Erfahrungen bin ich in den vergangenen Jahren zum Frontend-Entwickler geworden. Über die Jahre habe ich stets immer mehr Aufgaben im Backend übernommen. </p>
  <p>Mein Wissen über den nötigen Stack, erlaubt es mir alle nötigen Anforderungen zur Entwicklung des Frontends* und des Backends* einer Anwendung abzudecken.</p>
  <p></p>
  <div class="logo-container left">
    <h2 class="ueberschrift-dunkel">Frontend</h2>
    <p class="text-dunkel">HTML/CSS</p>
    <p class="text-dunkel">JavaScript</p>
    <p class="text-dunkel">Angular + TypeScript</p>
    <p class="text-dunkel">Playwright Testing</p>
    <p class="text-dunkel">Barrierefreie Programmierung</p>
  </div>
  <div class="circle">
    <div class="half-circle half-circle-left" ></div>
    <div class="half-circle half-circle-right"></div>
  </div>
  <div class="logo-container right">
    <h2 class="ueberschrift-dunkel">Backend</h2>
    <p class="text-dunkel">Java</p>
    <p class="text-dunkel">Spring Boot</p>
    <p class="text-dunkel">Node.js</p>
    <p class="text-dunkel">Liquibase</p>
    <p class="text-dunkel">MySQL</p>
    <p class="text-dunkel">Docker</p>
    <p class="text-dunkel">Amazon Web Services</p>
    <p></p>
  </div>

</div>
