<div class="header-component">
  <div class="header-content">
  <div class="logo">
    <img src="assets/images/ad_rund_85.ico" alt="Logo">
  </div>
  <div class="items-und-toggle">
    <div>
      <a class="header-font" *ngFor="let item of items" [routerLink]="item.url"
         (click)="setActiveItem(item.url)"
         [ngClass]="{'active-menu-item': activeItem === item.url}">
        {{ item.label }}
      </a>
    </div>
    <div>
      <p-toggleButton [(ngModel)]="checked"
                      pTooltip="Language switching feature is currently under development"
                      tooltipPosition="right" onLabel="EN" offLabel="DE" class="custom-tooltip">
      </p-toggleButton>
    </div>
  </div>
  </div>
</div>
