<div class="header-component">
  <div class="header-content">
  <div class="logo">
    <a [routerLink]="['/home']">
    <img  src="assets/images/ad_rund_85.ico" alt="Logo">
    </a>
  </div>

    <div class="hamburger-menu" (click)="toggleMenu()">
      <i class="pi pi-align-justify"></i>
    </div>
    <div class="menu" [ngClass]="{'open': menuOpen}">>
        <a class="header-font" *ngFor="let item of items" [routerLink]="item.url"
           (click)="setActiveItem(item.url)"
           [ngClass]="{'active-menu-item': activeItem === item.url}">
          {{ item.label }}
        </a>
    </div>

    <div>
      <p-toggleButton [(ngModel)]="checked"
                      pTooltip="Language switching feature is currently under development"
                      tooltipPosition="right" onLabel="EN" offLabel="DE" class="custom-tooltip">
      </p-toggleButton>
    </div>
  </div>
  </div>
