$primary-color: #424242;
$secondary-color: #f5f5f5;
$tertiary-color: #ffffff;

$text-color-ueberschrift: #333333;
$text-color-unterueberschrift:#757575;
$text-color-text:#333333;

$detail-color: #f36b3f;
$detail-color-2: #0e9fae;


$text-color-ueberschrift-dunkel:#333333;
$text-color-unterueberschrift-dunkel:#757575;
$text-color-text-dunkel:#7f7f7f;



:root {
  --base-font-size: 16px;
  margin:0;
}


body,html{
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;

}

.services-background {
  height: 100%;
  width:100vw;
  font-family: "Calibri", sans-serif;
  background: linear-gradient(
      to bottom,
      $tertiary-color 0%,
      $tertiary-color 36%,
      $secondary-color 36%,
      $secondary-color 64%,
      $tertiary-color 64%,
      $tertiary-color 100%,
  );
  background-size:  500vh;
  font-size: var(--base-font-size);
  font-family: "Calibri","proxima nova light", "Helvetica Neue", "Swiss 7","Verdana", sans-serif;
}

.homeback-background::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 16.5%;
  left: 0;
  right: 0;
  height: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.component-width{
  margin-left: 450px!important;
  margin-right: 450px!important;
}

@media screen and (max-width: 600px) {
  .component-width {
    margin-left: 1rem!important;
    margin-right: 1rem!important;
  }
}

a:hover{
  color: $text-color-ueberschrift;
  text-decoration: none;
}

h3{}

h4{}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  font-size:1.2rem;
  line-height:1.5;
}

.p-abweichung {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  font-size:1.2rem;
  line-height:1.5;
  text-align:center;
}

.p-bright-background {
  color: $text-color-text;
  font-size:20px;
  padding: 7px 0;
}

h1{
  font-size:4rem;
  font-weight: bold;
  color:$text-color-ueberschrift;
  padding-bottom:0;
  margin-bottom:0;
  margin-top:5rem;
  text-align:center;
}

@media screen and (min-width: 1204px) {
  .h1-abweichung {
    font-size: 2.7rem;
    font-weight: bold;
    color: $text-color-ueberschrift;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 5rem;
  }
}



h2{
  font-size:2.0rem;
  color:$text-color-unterueberschrift-dunkel;
  margin-bottom:20px;
  margin-top:20px;
  font-weight:lighter;
  text-align:center;

}


@media screen and (min-width: 1204px) {
.h2-abweichung{
  font-size:1.5rem;
  color:$text-color-unterueberschrift-dunkel;
  margin-bottom:20px;
  margin-top:20px;
  font-weight:lighter;
}
}

@media screen and (max-width: 600px) {

  .h1-abweichung {
    font-size: 2rem;
    margin-top:4rem;
    width:90vw;
  }

  .h2-abweichung {
    font-size: 1.5rem;
    width:80vw;
    margin-top:1rem;
  }


  .home-box-image {
    padding-top: 21rem;
    padding-right: 3rem;
    height: auto;
    max-width: none;
  }

  .home-box-image img {
    width: 90vw;
    height: auto;
    max-width: none;
  }

  .home-box-text{
    width:100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .h1-abweichung {
    font-size: .5rem;
  }

  .h2-abweichung {
    font-size: 1.2rem;
  }
}

.h2-abweichung-dunkel{
  font-size:2.2rem;
  color:$primary-color;
  margin-bottom:20px;
  margin-top:20px;
  font-weight:lighter;
}

.ueberschrift-dunkel{
  color: $text-color-ueberschrift-dunkel;
  font-weight:initial;

}

.unterueberschrift-dunkel{
  color: $text-color-unterueberschrift-dunkel;
}

.text-dunkel{
  color: $text-color-text-dunkel;
}

ul li {
  font-size:1.2rem;
  line-height:1.5;
}

ul li a {
  color: black;

  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}


/*Generische Komponenten*/

.generic-button {
  width:200px;
  height:50px;
  border: 2px solid $detail-color;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color:$detail-color;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
  margin-top:1.3rem;

  &:hover {
    background-color: darken($detail-color, 10%);
  color:$tertiary-color;
  }
}

/*RouterOutlet*/
.router-outlet-container {
  padding: 20px;
  /*border: 1px solid #ccc;*/
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


/*Branding-Komponente*/
.branding-component {
  display: flex;
  margin: 0;
  justify-content: right;
  padding-right:370px;
  width: 100%;
  background-color: $secondary-color;
}

.field {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.left-field {
}

.right-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-up-fixed {
  position: fixed;
  right: 0;
  bottom: 5%;
  margin-right:25px;
  display:flex;
}

.scroll-top-button {
  display: flex;
  padding:10px;
  cursor: pointer;
  font-size: 20px;
  background-color:$text-color-unterueberschrift;
  color:white;
  border-radius: 50px;
  transition: background 0.4s ease;
  animation: popUp 0.5s ease forwards;
}

.listing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  padding: 0;
}

.listing ul {
  display: flex;
  padding: 0;
  margin: 0;
}

/*.listing li {
  margin-bottom: 10px;
  margin-right: 20px;
}*/

/*.listing-nav li {
  margin-bottom: 10px;
  margin-right: 20px;
}*/

.listing li:last-child {
  margin-right: 0;
}

@keyframes popUp {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


.scroll-top-button-fade-out {
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.scroll-top-button:hover {
  background: $primary-color;
  color:$secondary-color;
}

.field-fixed {
  position: fixed;
  right: 0;
  bottom: 5%;
  margin-right:25px;
  display:flex;
  align-items:center;
}

/*Header-Komponente*/

.header-background {
  background-color: #ffffff;
  height:7rem;
  display:flex;
  justify-content: center;
  width: 60%;
  margin: 1rem auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position:sticky;
  top: 1rem;
  z-index: 1000;
}


.header-component {
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 9000;
}

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 5rem;
    padding-right: 5rem;
    width:100%;
  }

  .header-font {
    margin-right: 30px;
    font-size:20px;
    align-items: center;
    color: rgba(0, 0, 0, 0.4);
  }

  a {
    text-decoration: none;
    display: inline-block;
  }

  .logo {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction:row;
    justify-content:right;
    align-items: center;
    flex: 3;
  }

  .custom-button {
    color: white;
    border-radius: 50px !important;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    cursor:pointer;
  }

  .custom-button:hover {
    text-decoration:none;
  }

  .custom-tooltip {
    background-color: black;
    color: white ;
  }

  .p-toggleButton .p-button {
    border-radius: 50px !important;
  }

  .p-toggleButton:hover {
    border: 1px solid black;
  }

  .p-togglebutton.p-button.p-highlight {
    background-color: black;
    border: 1px solid white;
    color:white;
  }

  .p-button:focus {
    border: 1px solid black;
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
  }

.active-menu-item {
  color: $detail-color;
  padding: 0px;
  padding-bottom: 2px;
}

  a:hover {
    color: $detail-color;
}

.hamburger-menu {
  display: none;
}

  .dropdown-panel {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: gray;
    color: white;
    z-index: 10000;
    overflow-y: auto;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
  }


@media screen and (max-width: 600px) {
  .header-content{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hamburger-menu {
    display: flex;
    flex-direction:column;
    color:white;
    cursor: pointer;

    .pi {
      font-size: 24px;
      color: white;
    }
  }

  .menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
    flex-direction: column;
    overflow-y: auto;
    transition: visibility 0s linear 0.3s;
  }

  .menu a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
  }

  .menu.open, .dropdown-panel.open {
    visibility: visible;
    opacity: 1;
    max-height: 500px;
    transition:  .3s linear;
  }

  .header-component {
    height: 3rem ;
  }

  .logo {
    height: 1.5rem;
  }
}



/*home-Komponente*/
.home-component {
  display: flex;
  justify-content: space-between;
}

.home-box{
  display:flex;
  width:100%;
  position: relative
}

.home-block-text{
  z-index:5;
  width:100%;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.home-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 200%;
  padding: 20px;
}

.home-box-text{
  position: absolute;
  left: 0;
  z-index: 2;
  width: 45%;
  animation: 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.8) 0s 1 slideInFromLeft;
}

.home-box-image{
  position: relative;
  z-index: 1;
  margin-left: 40%;
  width: 55%;
  margin-top: 6rem;
  animation: 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.8) 0s 1 slideInFromRight
}

.home-box-image img {
  width: 100%;
  height:100%;
  object-fit: cover;
}

.home-block-text {
  width:100%;
}

@media (max-width: 600px) {
  .home-box {
    flex-direction: column;
    margin-bottom:10rem;
  }
}


/*Intro-Komponente*/
.intro-component {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.intro-block {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.box-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-rechts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


  .block-text {
    width:80%;
  }

  .box-rechts img {
    width: 100%;
    height: auto;
  }


/*Techstack-Komponente*/
.circle-container {
  display: grid;
  grid-template-columns: 1fr 450px 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 300px;
  height: 450px;
}

.circle {
  grid-column: 2;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-color:transparent;
  cursor:pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right, #fe682c, #fba401, #feb500, #fec501, #17cbb2, #07b9b8, #06a2b8, #0067cc,#014bac,#004195, black );
}

.logo-container {
  background-color: $secondary-color;
  padding: 0;
  border-radius: 5px;

/*  box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
  width: 200px;
  position: relative;
}

.logo-container.left {
  grid-column: 1;
  right: -90px;
  position: relative;
}

.logo-container.right {
  grid-column: 3;
  position: relative;
  left: -90px;
}


  /*Code-Prinzipen-Komponente*/

  .code-prinzipen-component {

    .content-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
      margin-top: 50px;
    }

    .content-block {
      max-width: 300px;
      text-align: center;
      min-height: 100vh;
      margin-right: 100px;
      flex: 0 1 calc(33.33% - 50px);
      color: white;
      line-height: 1.5;

    .img {
      width: 100px;
      height: 100%;
      object-fit: cover;
    }
    }
  }

  /*Kontakt-Komponente*/
  .contact-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


    .container {
      display: flex;
      width: 50%;
      height: 60vh;
      justify-content: center;
      align-items: flex-start;
    }

    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .custom-input {
      width: 100%;
      height: 40px;
      padding: 10px;
      border-radius:5px;
    }

    .custom-textarea {
      width: 100%;
      height: 160px;
      padding-left: 10px;
      border-radius: 5px;
      text-align: left;
      padding-bottom:28px;
    }

    .contact-ueberschrift {
      font-size: 8rem;
      font-weight: bold;
      color: $text-color-ueberschrift;
      padding-bottom: 0;
      margin-bottom: 0;
      margin-top: 5rem;
      text-align: center;
    }


    .contact-col {
      flex: 1;
      margin-top:10px;
      margin-bottom:10px;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      width: 100%;
      display:flex;
      justify-content:center;
    }

    .contact-row{
      gap: 5px;
      display: flex;
      flex-direction: row;
      align-items:center;
      justify-content: center;

      a{
        color: $detail-color;
        text-decoration: none;
        text-weight:bold;
      }
    }

    .form-button {
      width:200px;
      height:50px;
      border: 2px solid $detail-color;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      color:$detail-color;
      background-color: transparent;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: darken($detail-color, 10%);
        color:$tertiary-color;
      }
    }



    .name-email-row{
      display:flex;
      flex-direction:row;
      justify-content:space-between;
      width: 100%;
      margin-top:3rem;
    }

    .contact-label {
      color: $text-color-text;
      padding-bottom:3px;
    }

    .pflicht-sternchen {
      color: $detail-color;
    }

    .contact-checkbox{
      margin:0;
    }

    .contact-col:last-child {
      margin-right: 0;
    }

    .custom-textarea {
      textarea {
        height: 160px;
        padding-left: 5px;
        line-height: normal;
        text-align: start;
        width:100%;
      }
    }

    .box-links {
      flex:1;
   padding-top:50px;
    }

    .box-rechts {
      flex:1;
      display:flex;
      padding-top:75px;
      align-items:center;
      flex-direction:column;
    }

    .p-inputGroup {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    .p-inputGroup label {
      margin-bottom: 8px;
    }
  }

@media screen and (max-width: 600px) {
  .contact-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom:11rem;
  }

  .datenschutz-p{
   font-size:.8rem;
  }

}

  /*About-Komponente*/

  .about-component {
    display: flex;
    justify-content: space-between;

    .square-block {
      flex: 1;
      flex-direction: column;
      margin: 10px;
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }

  .about-background{
    width:100vw;
    font-family: "Calibri", sans-serif;
    background: linear-gradient(
        to bottom,
        $tertiary-color 0%,
        $tertiary-color 50%,
        $secondary-color 50%,
        $secondary-color 100%
    );
    font-size: var(--base-font-size);
    font-family: "Calibri","proxima nova light", "Helvetica Neue", "Swiss 7","Verdana", sans-serif;
  }

.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.image-square {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}


  /*services-Komponente*/

.services-component {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
}

.services-text-box {
  flex: 1;
  max-width: 60%;
}

.service-graph-box {
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-graph-box img {
  max-width: 100%;
  max-height: 550px;
  height: auto;
  width: auto;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 0 0 20px 20px white;
}

 /* .service-graph{
    width:100%;
    margin-top:5rem;
  }*/

  #myWord{
    cursor:pointer;
  }

#myList {
  display: none;
  cursor: pointer;
}

#myList.visible {
  display: block;
}


.button-container {
  flex-direction: column;
  width:300px;
  position: relative;
  margin-bottom:10rem;
}

.upper-buttons{
  display:flex;

}

.lower-button{
  display:flex;
  justify-content: center;

}

.ulist-services{
  padding-left:20px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .portfolio-p{
   font-size: 1rem;
  }

  .service-graph img{
    margin-top:5rem;
  }

  .services-background {
    height: 300%;
    width:100vw;
    font-family: "Calibri", sans-serif;
    background: linear-gradient(
        to bottom,
        $tertiary-color 0%,
        $tertiary-color 25%,
        $secondary-color 25%,
        $secondary-color 100%,
    );
    background-size:  600vh;
    font-size: var(--base-font-size);
    font-family: "Calibri","proxima nova light", "Helvetica Neue", "Swiss 7","Verdana", sans-serif;
  }

  .service-graph{
    display:none;
  }
}


/*Techstack-Services*/

.techstack-services{
  margin-top:12rem;
  padding-top:6rem;
}

.techstack-graph{
  margin-top:4rem;
  gap:3rem;
  padding-right:6rem;
  display:flex;
  flex-direction:column;
}

.techstack-container{
  display:flex;
  align-items:center;
}

.button-tech{
  width:175px;
  height:75px;
  border-radius: 5px;
  cursor: pointer;
  color:$primary-color;
  border:1px solid $primary-color;
  background-color: transparent;
  padding:0;
  font-size:1.5rem;
}

.button-tech.wd{
  border:3px solid orange;
  color:orange
}

.button-tech.fe{
  border:3px solid $detail-color-2;
  color:$detail-color-2;
}

.button-tech.be{
  border:3px solid black;
  color:black;
}

.tech{
  margin-left:2rem;
}

@media screen and (max-width: 600px) {


  .techstack-services{
    padding-top:10rem;
  }

  .techstack-container{
    display:flex;
    flex-direction:column;
  }

}


/*Arbeitsweise-Komponente*/

.arbeitsweise-services{
  margin-top:18rem;
}

.arbeitsweise-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top:1rem;
  padding-bottom:5rem;
}

.arbeitsweise-links {
  width: 80%;
}

.arbeitsweise-rechts {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arbeitsweise-bild {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}


.arbeitsweise-container p-accordion p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  background-color: $secondary-color;
  color: black;
  border: none;
  border-radius:10px;
}

.p-accordion .p-accordion-header .p-accordion-header-link:hover {
  background-color: $detail-color-2;
  color: #ffffff; /* Optional: Textfarbe beim Hover anpassen */
}




  /*Portfolio-Komponente*/
  .portfolio-component {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    text-align: left;
    align-items: stretch;
    margin-top: 5rem;
    padding-bottom:5rem;
    animation: 0.5s ease-out 0s 1 slideUp;
  }

.portfolio-text-box{
  width:100%;
}

.p-card-content{
  padding-top:0;
  padding-bottom:0;
}

.p-card-body{
  height:300px;
}

.portfolio-p{
  margin-bottom:0;

}
.p-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.projekt-beschriftung{
  display:flex;
  flex-direction:row;
  justify-content:center;
}


  .portfolio-component .custom-card .card-image {
    display:flex;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    height: auto;
    cursor:pointer;
    padding-top: 5px;
    object-fit: cover;
  }

@media screen and (max-width: 600px){
  .portfolio-component {
    display: flex;
    flex-direction:column;
    grid-gap: 25px;
    text-align: left;
    align-items: stretch;
    margin-top: 5rem;
    animation: 0.5s ease-out 0s 1 slideUp;
  }
}


@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

  .kurzvorstellung-component {
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-direction: column;

    .kurzvorstellung-container {
      position: relative;
      animation: 0.5s ease-out 0s 1 slideUp;
    }

    .tab-menu {
      flex: 0 0 auto;
      margin-top:15rem;
      padding-bottom: 40px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      animation: 0.5s ease-out 0s 1 slideUp;
    }

    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
      border:none;
      background-color:$secondary-color;
    }

    .p-tabmenu-nav .p-menuitem-text{
      font-size: 2rem;
      color:$text-color-unterueberschrift;
      font-weight:lighter;
      text-decoration:none;
      margin:1rem;
    }

    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem:hover .p-menuitem-link {
      text-decoration: none;
    }

    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link{
     border: none;
     text-decoration:none;
     border-radius:5px;
    }

    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-text {

      color:$detail-color-2;
    }

    .p-tabmenu-nav .p-menuitem-text.p-highlight{
      color:$tertiary-color;
    }

    .content-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      color: $text-color-text;
    }

    .content-box-left{
      display: flex;
      justify-content: left;
      align-items: center;
      width:100%;
    }

    .content-box-center{
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%;
      margin-top:2rem;
    }


    .ichUndSoftware{
      display:flex;
      justify-content:center;
      width:65%;
      text-align:justify;
    }

    .content-box-right {
      border: 5px solid $primary-color;
      padding:20px;
    }

    .content-box-left {
      border: 5px solid $tertiary-color;
    }

    .content-box.image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

@media screen and (max-width: 600px){

  .p-tabmenu-nav .p-menuitem-text{
    font-size: .6rem;
    color:$text-color-unterueberschrift;
    font-weight:lighter;
    text-decoration:none;
    margin: .4rem;
  }

}

  /*Footer-Komponente*/

  .footer-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    margin-top: 10rem;
    padding-left: 20vw;
    padding-right: 20vw;
    height: 21rem;
    background:  $detail-color;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
  }

.right-box-wrapper {
  display: flex;
  flex-direction: row;
}

.box-social-icons{
  display:flex;
  padding-top:15px;

  .pi{
      color:$primary-color;
      font-size: 2rem;
      width: 2.5rem;
      height: 2.5rem;
      align-items: center;
      justify-content: left;
    }

  a{
    margin-right:10px;
  }
  }


.listing {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   list-style: none;
 }

  .listing ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: left;
  }


  .listing li {

    a {
      color: $text-color-text;
    }

    a:hover{
    color: $text-color-ueberschrift;
      text-decoration: none;
    }
  }


.footer-logo-feld{
  text-decoration:none;
  color: $text-color-text;


  a {
    text-decoration: none;
    color: $text-color-text;
  }

  a:hover{
    text-decoration:none;
    color: $text-color-ueberschrift;
  }
}

  .box > * {
    /*margin-left: 15px;*/
    color: $text-color-text;
  }


  div > .pi:not(:last-child) {
    margin-right: 10px;
  }

.madeInBonn-Text{
 padding-bottom:5px;
}


@media screen and (max-width: 600px) {
  .footer-component {
    padding-left: 1.5rem;
    flex-direction: column;
    background-color:$secondary-color;
    min-height: 100vh;
    margin-top:3rem;
  }

  .box {
    width: 100%;
    display:flex;
    justify-content:flex-start;
    align-items: flex-start;
    margin-top:4rem;
    margin-left: 0px;
  }

  .right-box-wrapper {
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    width:100%;
    padding-left: 0rem;
  }

#nav {
  display: none;
}


  #info{
    margin-bottom:3rem;
    padding-bottom:3rem;
  }
}

  /*Impressum-Komponente*/

.impressum-component{

  .impressum-adresse{
   margin-top:100px;
   margin-bottom:20px;
  }

  .impressum-block{
    margin-top:20px;
    margin-bottom:20px;
  }
}

/*Datenschutz-Komponente*/

.datenschutz-component{
  height: 300vh;
}

/*FAQ-Komponente*/

.faq-acordion{
  margin-top:4em;
}

.p-accordion p-accordiontab .p-accordion-header .p-accordion-header-link{
  width:100%;
}


