$primary-color: #1cbc9b;
$primary-color-light: #4eb199;

$tertiary-color: #ffa219;

.button-tertiary {
  @extend .intro-button;
  background-color: $tertiary-color;
  color: black;
}

:root {
  --base-font-size: 16px;
}

h1{
  font-size: 36px;
  text-align: center;
  margin: 0;
  padding: 0;
  color:#424242;
}

h2{
  margin: 0;
}

h3{
  font-size: 24px;
  padding-bottom: 0;
  margin-bottom: 0;

}

h4{
  margin: 0;
  padding: 0;
  color:grey
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

ul li a {
  color: black;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

body, html {
  height: 100%;
  font-family: "Calibri", sans-serif;
  background: linear-gradient(
      to bottom,
      $primary-color 0%,       /* Start der ersten Farbe */
      $primary-color-light 16.5%,      /* Ende der ersten Farbe bei 100vh (25% von 400vh) */
      black 16.5%,        /* Start der zweiten Farbe an derselben Stelle */
      black 39%,      /* Ende der zweiten Farbe bei 50vh (37.5% von 400vh) */
      $primary-color 39%,    /* Start der ersten Farbe an derselben Stelle */
      $primary-color 49%,    /* Ende der ersten Farbe bei weiteren 100vh */
      black 49%,      /* Start der zweiten Farbe an derselben Stelle */
      black 70%,        /* Ende der zweiten Farbe bei weiteren 100vh */
      #ffa219 60%,    /* Start der ersten Farbe an derselben Stelle */
      #ffa219 100%
  );
  background-size: 100% 600vh;
  margin: 0;
  font-size: var(--base-font-size);
}


/*RouterOutlet*/

.router-outlet-container {
  padding: 20px;
  /*border: 1px solid #ccc;*/
  margin-left: 275px;
  margin-right: 275px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


/*Branding-Komponente*/

.branding-component {
  display: flex;
  margin: 0;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

.field {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.scroll-top-button {
  display: flex;
  padding:10px;
  cursor: pointer;
  font-size: 20px;
  transition: background 0.4s ease;
  animation: popUp 0.5s ease forwards;
}

@keyframes popUp {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


.scroll-top-button-fade-out {
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.scroll-top-button:hover {
  background: $primary-color;
}

.field-fixed {
  position: fixed;
  right: 0;
  bottom: 5%;
  margin-right:25px;
  display:flex;
  align-items:center;
}

/*Header-Komponente*/

.header-component {
  display: flex;
  justify-content: space-between; /* Ändern Sie 'left' zu 'space-between' */
  align-items: center;
  margin-left: 275px;
  margin-top:25px;
  margin-bottom: 60px;
  margin-right: 275px;

  .header-font {
    color: #ffffff;
    margin-right: 30px;
    font-size:20px;
  }

  .items {
    margin-right: 100px;
  }

  .logo {
    display: flex;
    margin-right:50px;
    align-items:  start;
  }

  .logo img {
    width: 160px;
    height: 110px;
  }

  .custom-button {
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    font-weight:bold;
    border-radius: 50px !important;
    background-color: transparent;
    transition: background-color 0.3s ease;
    overflow: hidden;
    position: relative;
    cursor:pointer;
  }

  .custom-button:hover {
    background-color: #fff;
    color: black;
    border: 1px solid black;
  }

  .custom-tooltip {
    background-color: black !important;
    color: white !important;
  }


  .p-toggleButton {
    border-radius: 50px !important;
    margin-right: 150px;
  }

  .p-toggleButton .p-button {
    border-radius: 50px !important;

  }

  .p-toggleButton:hover {
    border: 1px solid black;
  }

  .p-togglebutton.p-button.p-highlight {
    background-color: black;
    border: 1px solid black;
    color:white;
  }

  .p-button:focus {
    border: 1px solid black;
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
  }
}

.header-component a {
  padding: 10px;
  text-decoration: none;
  display: inline-block;
}



.header-component .active-menu-item {
  border-bottom: 2px solid white;
  padding:0px;
  padding-bottom:2px;
}


/*home-Komponente*/

.home-component {
  display: flex;
  justify-content: space-between;
}

/*Intro-Komponente*/

.intro-component {
  display: flex;
  justify-content: space-between;

  .square-block-intro {
    /* border: 3px solid black;*/
    min-height: 60vh;
    padding: 50px;
    padding-left:0;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: right;
    margin-bottom: 100px;
  }

  .box-links {
    flex: 0 0 2;
  }

  .box-rechts {
    flex: 0 0 1;
  }

  .intro-button {
    margin-top: 20px;
    width:200px;
    height:50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: darken($tertiary-color, 10%);
    }
  }
}

  /*Code-Prinzipen-Komponente*/

  .code-prinzipen-component {

    .content-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
      margin-top: 50px;
    }

    .content-block {
      max-width: 300px;
      text-align: center;
      in-height: 100vh;
      margin-right: 100px;
      flex: 0 1 calc(33.33% - 50px);
      color: white;
      line-height: 1.5;

    .img {
      width: 100px;
      height: 100%;
      object-fit: cover;
    }
    }
  }

  /*Kontakt-Komponente*/

  .contact-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 3rem;
    width: 100%;
    align-items: center;

    .custom-input {
      width: 100%;
      height: 40px;
      padding: 10px
    }

    .custom-textarea {
      width: 100%;
      height: 120px;
      padding-bottom: 70px;
      padding-left: 10px;
    }

    .p-col {
      flex: 1;
      margin-right: 10px;
    }

    .p-col:last-child {
      margin-right: 0;
    }

    .input-row {
      width: 100%;
      max-width: 800px;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }

    .input-single {
      width: 100%;
      max-width: 900px; /* Konsistente Breite für alle Inputfelder */
      display: flex;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .container {
      display: flex;
      width: 80%;
      height: 80vh;
      justify-content: center;
      align-items: center;
    }

    .box-links {
      border: 3px solid black;
      width: 40%;
      margin-right: 75px;
      background-color: black;
      padding: 50px;
    }

    .box-rechts {
      border-left: 3px solid #ffa219;
      width: 30%;
      padding-left: 25px;
    }
  }

  /*about-Komponente*/

  .about-component {
    display: flex;
    justify-content: space-between;

    .square-block {
      flex: 1;
      flex-direction: column;
      margin: 10px;
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }

  /*services-Komponente*/

  .services-component {
    display: flex;
    justify-content: space-between;

    .square-block {
      flex: 1;
      flex-direction: column;
      margin: 10px;
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }

  /*Portfolio-Komponente*/
  .portfolio-component {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    text-align: left;
    align-items: stretch;
    margin-top: 100px;
  }

  .portfolio-component .custom-card {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .custom-card .p-card-body {
    flex-grow: 1;
    overflow: auto;
  }

  .portfolio-component .custom-card .card-image {
    border-radius: 30px;
    width: 100%;
    height: auto;
  }

  /*TODO: Kann verschlankt werden, wenn p-button richtig funktioniert*/

  .portfolio-component .custom-card .custom-button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: auto;

    &:hover {
      background-color: #0056b3;
    }
  }


  /*Kurzvorstellung-Komponente*/


  .kurzvorstellung-component {
    margin-top: 450px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-direction: column;

    .kurzvorstellung-container {
      margin-top: -300px;
      margin-bottom: 100px;
      position: relative;
    }

    .tab-menu {
      flex: 0 0 auto;
      padding-top: 50px;
      padding-bottom: 100px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

    .custom-tabmenu .p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
      margin-right: 30px; /* Änderung des Abstands */
      background-color: blue; /* Änderung der Hintergrundfarbe */
    }


    .mcustom-tabmenu .p-tabmenu .p-tabmenu-nav .p-tabmenuitem:hover {
      background-color: green;
    }

    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
      margin-right: 20px;
    }

    .tab-content {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      border: 3px solid black;
      flex: 1 1 auto;
    }

    .content-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
      color: white;

    }

    .content-box-left, .content-box-right {
      flex: 1;
      height: 450px;
    }

    .content-box-right {
    /*  background-color: $primary-color;*/
      border: 5px solid $primary-color;
      padding:50px;
    }

    .content-box-left {
     /* background-color: $tertiary-color;*/
      border: 5px solid $tertiary-color;
      padding:50px;
    }

    .content-box.image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  /*Footer-Komponente*/

  .footer-component {
    display: flex;
    z-index: 1;
    margin-top: 200px;
    margin-left: 250px;
    margin-right: 250px;
    height: 20vh;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
  }

  .box {
    margin: 5px;
    border: 3px solid black;
    width: 30%;
    margin-top: -80px;
  }

  .box:nth-child(2) {
    width: 40%;
  }

  .listing ul {
    list-style-type: none;
    padding: 0;
  }

  .listing li {
    margin-bottom: 10px;
  }

  .box > * {
    margin-left: 20px;
  }

  .pi {
    font-size: 2rem;
    margin-right: 5px;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    color: #000;
  }


  div > .pi:not(:last-child) {
    margin-right: 10px;
  }


  div > .pi {
    margin-top: 10px;
    margin-right: 15px;
  }




