$primary-color: #424242;
$secondary-color: #f5f5f5;
$tertiary-color: white;

$text-color-ueberschrift: #333333;
$text-color-unterueberschrift:#606060;
$text-color-text:#898989;

/*Text-Colors festlegen für Schrift vor dunkleren Hintergrund*/
$text-color-ueberschrift-dunkel:#333333;
$text-color-unterueberschrift-dunkel:#757575;
$text-color-text-dunkel:#7f7f7f;

.button-tertiary {
  @extend .generic-button;
  background-color: $tertiary-color;
  color: black;
}


:root {
  --base-font-size: 16px;
  margin:0;
}

body,html{
  margin: 0;
  padding: 0;
}

.about-background {
  height: 200%;
  font-family: "Calibri", sans-serif;
  /*  margin-left:150px;
    margin-right:150px;*/
  background: linear-gradient(
      to bottom,
      $tertiary-color 0%,
      $tertiary-color 16.5%,
      #d2cece 16.53%,
      $secondary-color 16.56%,
      $secondary-color 31.5%,
      #d2cece 31.53%,
      $tertiary-color 31.56%,
      $tertiary-color 49%,
      #d2cece 49.03%,
      $secondary-color 49.06%,
      $secondary-color 70%,
      #d2cece 70.03%,
      $tertiary-color 70.06%,
      $tertiary-color 100%
  );
  background-size: 100% 600vh;
  font-size: var(--base-font-size);
  font-family: "Calibri","proxima nova light", "Helvetica Neue", "Swiss 7","Verdana", sans-serif;
}

.homeback-background::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 16.5%;
  left: 0;
  right: 0;
  height: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.component-width{
  margin-left: 350px!important;
  margin-right: 350px!important;
}

h3{}

h4{}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.p-bright-background {
  color: $text-color-text;
  font-size:20px;
}

h1{
  font-size:6rem;
  font-weight: bold;
  color:$text-color-ueberschrift;
  padding-bottom:0;
  margin-bottom:0;
  margin-top:130px;
}

h2{
  font-size:2.2rem;
  color:$text-color-unterueberschrift-dunkel;
  margin-bottom:20px;
  margin-top:20px;
  font-weight:lighter;
}

.ueberschrift-dunkel{
  color: $text-color-ueberschrift-dunkel;
  font-weight:initial;

}

.unterueberschrift-dunkel{
  color: $text-color-unterueberschrift-dunkel;
}

.text-dunkel{
  color: $text-color-text-dunkel;
}

ul li a {
  color: black;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}


/*Generische Komponenten*/

.generic-button {
  margin-top: 20px;
  width:200px;
  height:50px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color:$tertiary-color;
  background-color:#3e57cd;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: darken($tertiary-color, 10%);
  }
}


/*RouterOutlet*/

.router-outlet-container {
  padding: 20px;
  /*border: 1px solid #ccc;*/
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


/*Branding-Komponente*/

.branding-component {
  display: flex;
  margin: 0;
  justify-content: center;
  width: 100%;
  background-color: $secondary-color;
}

.field {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.left-field {
}

.right-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-top-button {
  display: flex;
  padding:10px;
  cursor: pointer;
  font-size: 20px;
  transition: background 0.4s ease;
  animation: popUp 0.5s ease forwards;
}


.listing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.listing ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.listing li {
  margin-bottom: 10px;
  margin-right: 20px;
}

.listing li:last-child {
  margin-right: 0;
}

@keyframes popUp {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


.scroll-top-button-fade-out {
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.scroll-top-button:hover {
  background: $primary-color;
  color:$secondary-color;
}

.field-fixed {
  position: fixed;
  right: 0;
  bottom: 5%;
  margin-right:25px;
  display:flex;
  align-items:center;
}

/*Header-Komponente*/

.header-component {
  display:flex;
  align-items: center;
  height:12vh;
  width: 100%;
  background-color: black;
  top: 0;
  z-index: 9000;

  .header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-left: 22rem;
    padding-right: 22rem;
    width:100%;
    /*    margin-right: 250px;*/
  }
}

  .header-font {
    color: #d9d9d9;
    margin-right: 30px;
    font-size:20px;
    align-items: center;
  }

  a {
    text-decoration: none;
    display: inline-block;
  }

  .logo {
    flex: 1;
    display: flex;
    align-items: center;
    background:white;
  }

/*  .logo img {
    width: 50px;
    height: 50px;
  }*/

  .items-und-toggle {
    display: flex;
    flex-direction:row;
    justify-content:right;
    align-items: center;
    flex: 3;
  }

  .custom-button {
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    font-weight:bold;
    border-radius: 50px !important;
    background-color: transparent;
    transition: background-color 0.3s ease;
    overflow: hidden;
    position: relative;
    cursor:pointer;
  }

  .custom-button:hover {
    background-color: #fff;
    color: black;
    border: 1px solid black;
  }

  .custom-tooltip {
    background-color: black;
    color: white ;
  }

  .p-toggleButton .p-button {
    border-radius: 50px !important;
  }

  .p-toggleButton:hover {
    border: 1px solid black;
  }

  .p-togglebutton.p-button.p-highlight {
    background-color: black;
    border: 1px solid black;
    color:white;
  }

  .p-button:focus {
    border: 1px solid black;
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
  }

.active-menu-item {
  color:white;
  padding:0px;
  padding-bottom:2px;
}



/*home-Komponente*/

.home-component {
  display: flex;
  justify-content: space-between;
}

/*Intro-Komponente*/

.intro-component {
  display: flex;
  justify-content: space-between;

  .square-block-intro {
    /* border: 3px solid black;*/
    min-height: 60vh;
    padding-left:0;
    flex-direction: column;
    display: flex;
    align-items: flex-start;

  }

  .box-links {
    flex: 1;
  }

  .box-rechts {
    flex: 1;
  }

  .box-rechts img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }


}

/*Techstack-Komponente*/

.circle-container {
  display: grid;
  grid-template-columns: 1fr 450px 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 350px;
  margin-bottom: 300px;
  height: 450px;
}

.circle {
  grid-column: 2;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  cursor:pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}


.half-circle {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
}

.half-circle::before {
  content: attr(data-content);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: #ffffff;
}

.half-circle-left {
  left: 0;
  font-weight:bold;
  clip-path: circle(50% at 100% 50%);
  /*clip-path: ellipse(50% 100% at 50%);*/
  background-image: linear-gradient(to top, #57ba84, #01b497, #00a597, #019392);
}

.half-circle-right {
  right: 0;
  font-weight:bold;
  clip-path: circle(50% at 0% 50%);
  /*clip-path: ellipse(50% 100% at  50%);*/
  background-image: linear-gradient(to bottom, #f77d28, #f27a2e, #f08527, #eb9532, #f77d18)
}

.logo-container {
  background-color: $secondary-color;
  padding: 0;
  border-radius: 5px;
/*  box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
  width: 200px;
  position: relative;
}

.logo-container.left {
  grid-column: 1;
  right: -90px;
  position: relative;
}

.logo-container.right {
  grid-column: 3;
  position: relative;
  left: -90px;
}


  /*Code-Prinzipen-Komponente*/

  .code-prinzipen-component {

    .content-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
      margin-top: 50px;
    }

    .content-block {
      max-width: 300px;
      text-align: center;
      in-height: 100vh;
      margin-right: 100px;
      flex: 0 1 calc(33.33% - 50px);
      color: white;
      line-height: 1.5;

    .img {
      width: 100px;
      height: 100%;
      object-fit: cover;
    }
    }
  }

  /*Kontakt-Komponente*/

  .contact-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8rem;
    width: 100%;

    .custom-input {
      width: 100%;
      height: 40px;
      padding: 10px;
      border-radius:5px;
    }

    .custom-textarea {
      width: 100%;
      height: 160px;
      padding-left: 10px;
      border-radius: 5px;
      text-align: left;
      padding-bottom:28px;
    }

    .contact-col {
      flex: 1;
      margin-top:20px;
      margin-bottom:10px;
      width:400px;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
    }

    .contact-label {
      color: $text-color-text;
      padding-bottom:3px;
    }

    .contact-col:last-child {
      margin-right: 0;
    }

    .custom-textarea {
      textarea {
        height: 160px;
        padding-left: 5px;
        line-height: normal;
        text-align: start;
      }
    }

    .container {
      display: flex;
      width: 100%;
      height: 80vh;
      justify-content: center;
      align-items: center;
    }

    .box-links {
      border: 3px solid black;
      flex:1;
      margin-right: 25px;

      padding: 50px;
      height:60%;
    }

    .box-rechts {
      border-left : 3px solid #ffa219;
      flex:1;
      padding-left: 25px;
      flex-direction:column;
      height:60%;
    }

    .p-inputGroup {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    .p-inputGroup label {
      margin-bottom: 8px;
    }
  }

.contact-label{
  width:100%;
  padding-right:38px;
}

  /*about-Komponente*/

  .about-component {
    display: flex;
    justify-content: space-between;

    .square-block {
      flex: 1;
      flex-direction: column;
      margin: 10px;
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }

  /*services-Komponente*/

  .services-component {
    display: flex;
    justify-content: space-between;

    .square-block {
      flex: 1;
      flex-direction: column;
      margin: 10px;
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }



  /*Portfolio-Komponente*/
  .portfolio-component {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    text-align: left;
    align-items: stretch;
    margin-top: 60px;
  }

  .portfolio-header{
    display: flex;
    align-items: center;
    margin-top: 100px;
  }

.portfolio-header h1 {
  display: flex;
  color: #606060;
  margin: 0;
  white-space: nowrap;
  align-items: center;
}

.portfolio-header .header-line {
  flex-grow: 1;
  border: .3px solid;
  height: 2px;
  background-color: #000;
  margin-left: 10px;
}

.p-card-content{
  padding-top:0;
  padding-bottom:0;
}

  .portfolio-component .custom-card .card-image {
    display:flex;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    height: auto;
    cursor:pointer;
    padding-top: 5px;
  }

  /*TODO: Kann verschlankt werden, wenn p-button richtig funktioniert*/

/*  .portfolio-component .custom-card .custom-button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: auto;

    &:hover {
      background-color: #0056b3;
    }
  }*/


  /*Kurzvorstellung-Komponente*/


  .kurzvorstellung-component {
    margin-top: 450px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-direction: column;

    .kurzvorstellung-container {
      margin-top: -300px;
      margin-bottom: 100px;
      position: relative;
    }

    .tab-menu {
      flex: 0 0 auto;
      padding-top: 50px;
      padding-bottom: 100px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

    .custom-tabmenu .p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
      margin-right: 30px; /* Änderung des Abstands */
      background-color: blue; /* Änderung der Hintergrundfarbe */
    }


    .mcustom-tabmenu .p-tabmenu .p-tabmenu-nav .p-tabmenuitem:hover {
      background-color: green;
    }

    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
      margin-right: 20px;
    }

    .tab-content {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      border: 3px solid black;
      flex: 1 1 auto;
    }

    .content-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
      color: white;

    }

    .content-box-left, .content-box-right {
      flex: 1;
      height: 450px;
    }

    .content-box-right {
    /*  background-color: $primary-color;*/
      border: 5px solid $primary-color;
      padding:50px;
    }

    .content-box-left {
     /* background-color: $tertiary-color;*/
      border: 5px solid $tertiary-color;
      padding:50px;
    }

    .content-box.image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  /*Footer-Komponente*/

  .footer-component {
    display: flex;
    z-index: 1;
    margin-top: 18.75rem;
    height: 20vh;
    justify-content: center;
    background:$secondary-color;
  }

  .box {
    display: flex;
    padding-top:10px;
    border: 1px solid $tertiary-color;
  }


.box:nth-child(1) {
  display:flex;
  flex-direction:row;
  align-items:center;
}

.box-social-icons{
  display:flex;
  flex-direction:column;
}



/*  .box:nth-child(2) {
    width: 40%;
  }*/

.listing {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

  .listing ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    justify-content: left;
  }

  .listing li {
    margin-bottom: 10px;
  }

/*  .logo img {
  width: 50px;
  height: 50px;
}*/

.footer-logo-feld{
  margin-top:17px;
  text-decoratio:none;
  color: $text-color-text;

  a{
    text-decoratio:none;
    color: $text-color-text;
  }
}

  .box > * {
    margin-left: 20px;

  }

  .pi {
    font-size: 2rem;
    margin-right: 5px;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    color: #000;
  }


  div > .pi:not(:last-child) {
    margin-right: 10px;
  }


  div > .pi {
    margin-top: 10px;
    margin-right: 15px;
  }

.field-fixed {
  position: fixed;
  right: 0;
  bottom: 5%;
  margin-right:25px;
  display:flex;
  align-items:center;
}

  /*Impressum-Komponente*/

.impressum-component{

  .impressum-adresse{
   margin-top:100px;
   margin-botom:20px;
  }

  .impressum-block{
    margin-top:20px;
    margin-bottom:20px;
  }
}


/*Datenschutz-Komponente*/

.datenschutz-component{
  height: 300vh;
}
