<div class="component-width">
  <div class="h1-abweichung">Häufige Fragen</div>
<!--  <div class="h2-abweichung"></div>-->
  <div class="faq-acordion">
  <p-accordion>
    <div class="h2-abweichung">Zu meiner Dienstleistung </div>
    <p-accordionTab header="1. Was kostet die Erstellung einer Website?">
      <ng-template pTemplate="content">
        <p>Die Angabe eines genauen Pauschalbetrags ist nicht möglich. Zu unterschiedlich sind die Anforderungen an eine Website und damit auch die aufzuwendene Arbeitszeit für mich. Allerdings kann ich ein Preisspanne nennen, die sich aus meiner bisherigen Erfahrung ergibt.
        <p>Erstellung einer designten und einer mit Basis-Funktionen ausgestatteten Website liegt in der Preispanne von 400-700€.
        Hinzu kommen monatliche Kosten für das Hosting bei einem Anbieter von bis zu 30€
       Falls auch noch ein Logo gestaltet werden soll, ist hier mit weiteren Kosten von bis zu 150€ zu rechnen</p>
        <p>Wenn Sie wünschen, dass ich ebenfalls nach dem Live-Schalten der Website deren Pflege übernehme, so berechne ich einen Retainer von 50€ pro Monat.</p>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab header="2. Arbeiten Sie als freiberuflicher Entwickler vor allem remote von zu Hause aus oder verbringen Sie die meiste Zeit bei der Arbeit direkt vor Ort beim Kunden?">
      <ng-template pTemplate="content">
      <p >Natürlich ist ein persönlicher Austausch gerade zu Beginn eines Projekt immer der beste Weg. Zum Einen kann so am einfachsten Vertrauen aufgebaut werden. Zum Anderen verhilft die klare Kommunikation effektiver zu einem gemeinsame Verständnis der Ziele.</p>
        <p>Auf dieser Basis können erfahrungsgemäß im weiteren Verlauf des Projekts Details sehr gut per Videoanruf und geteiltem Bildschirm besprochen werden. Auch Zwischenstände können so einfach gezeigt werden.</p>
        <p>Wird eine Kooperation ohne persönliches initiales Treffen bevorzugt - außer welchen Gründen es auch sein mag - stellt dies aber auch kein Hindernis dar und der eben beschriebene Arbeitsmodus bliebe der gleiche. </p>
        <p>Zu Gunsten des gemeinsamen Verständnisses der Ziele ist eine verbale Besprechung allerdings unabdingbar für mich.</p>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab header="3. Bieten Sie Ihre Dienstleistung auch englischsprachigen Kunden an?">
      <ng-template pTemplate="content">
        <p>Ja, meine Sprachkenntnisse auf C2-Niveau ermöglichen es mir für ein Projekt auch mit englischsprachigen Kunden zusammenzuarbeiten.</p>
        <p>Neben der Kommunikation mit dem Kunden, erfolgt die Programmierung dann auch strikt in englischer Sprache.</p>
      </ng-template>
    </p-accordionTab>
    <br>
    <div class="h2-abweichung">Technisches</div>
    <p-accordionTab header="1. Was ist der Unterschied zwischen einer Website und einer Webanwendung?">
      <ng-template pTemplate="content">
        <p>Der Unterschied zwischen einer Website und einer Webanwendung kann manchmal fließend sein, aber im Allgemeinen basiert er auf dem Grad der Interaktivität und Funktionalität, die jede bietet.</p>
        <p><strong>Website: </strong>Eine Sammlung von Webseiten mit meist statischen Informationen. Sie dient in der Regel der Informationsvermittlung, wie zum Beispiel Unternehmensinformationen, Nachrichten, Blogs oder Portfolios. Die Interaktion beschränkt sich meist auf das Ansehen von Inhalten und einfaches Navigieren zwischen Seiten.</p>
        <p><strong>Webanwendung: </strong>Eine interaktive und dynamische Anwendung, die im Webbrowser ausgeführt wird. Sie ermöglicht komplexere Interaktionen wie das Bearbeiten von Dokumenten, Online-Einkäufe oder die Verwaltung von Benutzerkonten. Webanwendungen sind meist datengetrieben und erfordern oft eine Benutzeranmeldung.</p>
      <p>Websites sind somit eher für die Darstellung von Inhalten konzipiert, während Webanwendungen interaktive Dienste und Funktionen bereitstellen.</p>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab header="2. Welche Rolle spielt künstliche Intelligenz (KI) bei Ihrer Arbeit?">
      <ng-template pTemplate="content">
        <p>Bekannte KI-Anwendungen wie ChatGPT spielen einen zunehmend wichtige Rolle in der Software-Entwicklung. Sie helfen Prozesse zu automatisieren und Probleme mittels Datenanalyse und Mustererkennung zu lösen.</p>
        <p>Auch ich kann durch den Einsatz von KI meine Arbeit effizienter gestalten. Das wiederum kommen meinen Kunden zugute, da ich durch den reduzierten Arbeitsaufwand weniger Arbeitsstunden in Rechnung stelle.</p>
        <p>Selbstverständlich ist die "Zuarbeit" von KI-basierten System von mir als Entwickler zwingend genaustens zu überprüfen, ehe sie in die Codebasis eingeht. Eine solche Prüfung durch den Entwickler war aber schon vor KI immer notwendig, sobald ganze Code-Fragmente aus Online-Foren wie etwa Stackoverflow übernommen wurden. </p>
      </ng-template>
    </p-accordionTab>
  </p-accordion>

</div>
</div>
