<div class="branding-component">
  <p> © 2023 Alexander Durach </p>
<!--  <div class="field left-field">

  </div>
  <div class="field right-field">
    &lt;!&ndash;<div class="listing">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/portfolio">Portfolio</a></li>
        <li><a routerLink="/contact">Kontakt</a></li>
      </ul>
    </div>&ndash;&gt;
  </div>-->
</div>





