<div *ngIf="loaded; else loading">
<div class="footer-component">
  <div class="box">
    <img src="assets/images/logo1_pixel.png" alt="Logo">
  </div>
  <div class="box">
    <p class="p-bright-background">+49 1573 0755 475</p>
    <p>adurach&#64;hotmail.de</p>
    <p class="p-bright-background">Carl-Justi-Strasse 23</p>
    <p class="p-bright-background">D-53121 Bonn</p>
    <div>
      <i class="pi pi-linkedin" style="font-size: 2rem"></i>
      <i class="pi pi-github" style="font-size: 2rem"></i>
      <i class="pi pi-whatsapp" style="font-size: 2rem"></i>
    </div>
  </div>
  <div class="box">
    <div class="listing">
      <ul>
        <li><a routerLink="/data-protection">Datenschutz</a></li>
        <li><a routerLink="/legal-notice">Impressum</a></li>
        <li>Cookie-Einstellungen</li>
      </ul>
    </div>
  </div>
</div>
</div>
<ng-template #loading>
  <p>Lädt...</p>
</ng-template>
