<!--TODO: Hier Angaben zur Softwareauswahl (Tech Stack) unterbringen-->
<div class="services-background">
<div class="component-width" *ngIf="loaded; else loading">
    <h1>{{ 'services.title' | translate | async }}</h1>
<div class="services-component" >

  <div class="square-block">
    <!--TODO: Grafik einfügen-->
  </div>
  <div class="square-block">
    <p style="font-size: 30px;">{{ 'services.description-title' | translate | async }}</p>
    <p style="font-size: 15px;">{{ 'services.description' | translate | async }}</p>
  </div>
</div>
</div>

<div>
  <app-techstack></app-techstack>
</div>
</div>
<ng-template #loading>
  <p>Lädt...</p>
</ng-template>
